@model CleanArch.Application.ViewModels.CourseViewModel;

<div class="container body-content">
    <div class="row course-content">
        <h2>AutoMapper feature Fail</h2>
        <p>This worked until Udemy Clearn Arch course stared AutoMapper.
        It broke the link between Controller/View/Razor usage</p>
        @{
         /*
         @foreach (var course in Model)
         {
            <div class="course-image-container">
                <div class="course-image" 
                     style="background-image:url()">  
                    <img src=~/Images/courseImage.png>
                </div>
                <span>@course.Name.</span>
            </div>
         } 
        */}
    </div>
</div>